In [20]:
import os
import sys
sys.path.append('..')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [39]:
DATA_FOLDER = os.path.join('..', 'data')
DATA_FOLDER_RAW = os.path.join(DATA_FOLDER, 'raw')
DATA_NAME_RAW = 'winequality.csv'
SEED = 1987212378

# Load Dataset

In [40]:
data_raw = pd.read_csv(os.path.join(DATA_FOLDER_RAW, DATA_NAME_RAW), sep=';')
data_raw.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,White,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,White,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,White,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,White,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,White,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

Before going deep into analyses we MUST take away a chunk the data. This will be our out-of-sample dataset. We will use this dataset once, and only once, at the end of our model development, before deploying our model in production. In order to ensure statistical significante a fraction of 10% of samples, randomlly choosen, will be selected from this datase. Moreover, the classes distributin will reaming the same, this is also called stratified sampling. 

All theses procedures aim to reduce bias towards our machine learning analyses and development.

In [23]:
from sklearn.model_selection import StratifiedShuffleSplit

In [33]:
X = data_raw.iloc[:,:-1].values
y = data_raw.iloc[:,-1].values

sss = StratifiedShuffleSplit(n_splits=1, test_size=0.1, random_state=SEED)
sss.get_n_splits(X, y)

for train_index, test_index in sss.split(X, y):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

In [56]:
data_raw_90 = pd.concat([pd.DataFrame(X_train, columns=data_raw.iloc[:,:-1].columns), pd.DataFrame(y_train, columns=['quality'])], axis=1)
data_raw_10 = pd.concat([pd.DataFrame(X_test, columns=data_raw.iloc[:,:-1].columns), pd.DataFrame(y_test, columns=['quality'])], axis=1)

In [57]:
data_raw_90.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,Red,8.2,0.635,0.1,2.1,0.073,25,60,0.99638,3.29,0.75,10.9,6
1,White,5.7,0.1,0.27,1.3,0.047,21,100,0.9928,3.27,0.46,9.5,5
2,White,6.9,0.28,0.24,2.1,0.034,49,121,0.98882,2.98,0.43,13.2,7
3,White,5.8,0.36,0.38,0.9,0.037,3,75,0.9904,3.28,0.34,11.4,4
4,White,7.4,0.2,0.36,1.2,0.038,44,111,0.9926,3.36,0.34,9.9,6

Check percentage of data is in the 10% chunk.

In [63]:
data_raw.shape[0]/data_raw_10.shape[0]

9.995384615384616

# Save data

In [67]:
data_raw_90.to_csv(os.path.join(DATA_FOLDER_RAW, 'winequality_90.csv'), index=False)

In [68]:
data_raw_10.to_csv(os.path.join(DATA_FOLDER_RAW, 'winequality_10.csv'), index=False)